
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: blod 20px 'Courier';
  align-items: center;
  position: relative;
  background-color: rgba(44, 47, 202, 0.795);
  border-radius:50%;
  min-height: 100vh;
  overflow: hidden;
}
body:before,body:after{
  content:"";
  position:absolute;
  width:300vw;
  height:300vw;
  left:50%;
  bottom:25vh;
  background-color: rgba(30, 109, 155, 0.336);
  border-radius:45%;
  transform:translates(-50%,-70%) route(0);
  animation:rotate 6s linear infinite;
  z-index:-1;
}

body:after{
  border-radius:47%;
  background-color: rgba(48, 160, 224, 0.9);
  transform:translate(-50%,-70%) route(0);
  animation:rotate 10s linear -5s infinite;
  z-index:0;
}
@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}

#main {
  //Size for display pannel
  width: 360px;
  height: 420px;
  background-color: #b7d4a8;
  margin: 100px auto;
  border: 10px solid black;
  border-radius: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

#stage {
  //size for game pannel
  width: 304px;
  height: 304px;
  border: 2px solid black;
  position: relative;
  #snake {
    //css for div of snake (each div represent for one body)
    & > div {
      width: 10px;
      height: 10px;
      background-color: black;
      border: 1px solid #b7d4a8;
      position: absolute;
    }
  }

  #food {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 40px;
    top: 100px;
    display: flex;
    //set the row as main axis, set auto-wrap
    flex-flow: row wrap;
    //set space between elements
    justify-content: space-between;
    align-content: space-between;

    & > div {
      width: 4px;
      height: 4px;
      background-color: black;
      transform: rotate(45deg);
    }
  }
}

#score-pannel {
  width: 300px;
  display: flex;
  justify-content: space-between;
}